@import "/src/scss/media-queries.scss";

.container {
  background: linear-gradient(128deg, #04b250, #542437);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60%;
  position: relative;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
