@import "/src/scss/media-queries.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 40px;
}

.container1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0 auto;
  max-width: 600px;
}

.divider {
  background-color: #0e3a0a;
  width: 1px;
  display: block;
  align-self: stretch;
}

.p {
  text-align: justify;
}

.inverse {
  flex-direction: row-reverse;
}

@include viewport-mobile {
  .container {
    gap: 30px;
  }

  .container1 {
    flex-direction: column;
    gap: 10px;
  }

  .inverse {
    flex-direction: column;
  }
}
