@import "/src/scss/media-queries.scss";

.bgContainer {
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("./img.svg");
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.appTitle {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  color: #0e3a0a;
  text-align: center;
  margin: 0 20px;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 1px;
  color: #0e3a0a;
  text-align: center;
  margin: initial;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40px;
}

.hero {
  flex: 1;
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.heroP {
  text-align: justify;
  margin: initial;
}

.heroImage {
  flex: 1;
}

.buttonHolder {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
}

.conoceMas {
  border: 2px solid #0c3309;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #0e3a0a;
  background-color: white;
}

@include viewport-mobile {
  .Desktop {
    display: none;
  }

  .headerLeft {
    width: 100%;
    justify-content: space-between;
  }

  .container {
    background-color: #ffffffc9;
  }

  .heroImage {
    display: none;
  }

  .subtitle {
    font-size: 30px;
  }

  .appTitle {
    font-size: 20px;
  }
}
