
.ElementCardPricingCardTopBoxOptionsPriceSubtitleHover_ElementCardPricingCardTopBoxOptionsPriceSubtitleHover {
	width: 350px;
	height: 110px;
}
.ElementCardPricingCardTopBoxOptionsPriceSubtitleHover_ElementCardPricingCardTopBoxOptionsPriceSubtitleHover .outline {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 350px;
	height: 110px;
	background: rgba(17,27,71,1.00);
	border-radius: 2px;
}
.ElementCardPricingCardTopBoxOptionsPriceSubtitleHover_ElementCardPricingCardTopBoxOptionsPriceSubtitleHover .Content {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 48.63636363636364%;
	transform: translate(0, -50%);
	width: 350px;
	height: 81px;
}
.ElementCardPricingCardTopBoxOptionsPriceSubtitleHover_ElementCardPricingCardTopBoxOptionsPriceSubtitleHover .Content .Title {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 83.9506172839506%;
	transform: translate(0, -50%);
	width: 350px;
	height: 26px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.ElementCardPricingCardTopBoxOptionsPriceSubtitleHover_ElementCardPricingCardTopBoxOptionsPriceSubtitleHover .Content .Price {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 37.03703703703704%;
	transform: translate(0, -50%);
	width: 350px;
	height: 60px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 42px;
	font-weight: 500;
	line-height: 60px;
}