
.ElementCardFAQBasicMedium1LineTitle_ElementCardFAQBasicMedium1LineTitle {
	width: 350px;
	height: 144px;
}
.ElementCardFAQBasicMedium1LineTitle_ElementCardFAQBasicMedium1LineTitle .Body {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 42px;
	width: 350px;
	height: 102px;
	color: rgba(93,105,112,1.00);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.ElementCardFAQBasicMedium1LineTitle_ElementCardFAQBasicMedium1LineTitle .Title {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 350px;
	height: 32px;
	color: rgba(9,17,51,1.00);
	font-family: Roboto;
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
}