
.ElementCardPricingCardTopBoxOptionsPriceOnlyDefault_ElementCardPricingCardTopBoxOptionsPriceOnlyDefault {
	width: 350px;
	height: 110px;
}
.ElementCardPricingCardTopBoxOptionsPriceOnlyDefault_ElementCardPricingCardTopBoxOptionsPriceOnlyDefault .outline {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 350px;
	height: 110px;
	border-radius: 2px;
	border: 2px solid rgba(55.00000052154064,68.00000354647636,126.00000008940697,1);
	box-sizing: border-box;
}
.ElementCardPricingCardTopBoxOptionsPriceOnlyDefault_ElementCardPricingCardTopBoxOptionsPriceOnlyDefault .Price {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 50%;
	transform: translate(0, -50%);
	width: 350px;
	height: 60px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(34,47,101,1.00);
	font-family: Roboto;
	font-size: 42px;
	font-weight: 500;
	line-height: 60px;
}